body{
    font-family: 'Open Sans', sans-serif; 
}
.text-primary{
  color:   #fd6e0a;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 200px;

}
.btn-primary{
    border-radius: 5px;
    background-color: #fd6e0a;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav>ul{
    display: flex;
    align-items: center;
   
}
nav li{
      margin: 50px;
      list-style-type: none;
}
nav a{
    text-decoration: none;
    color: #474747;
   
}
.head{
    background-color: #FFF8F3;
}
.banner{
     padding: 30px 30px 30px 150px;
     display: flex;
}
.banner .profile-pic{
    width: 300px;
    height: 200px;
}
.heade{
    background-color: #FFF8F3;
    background-image: url("./picture01.jpg");
}
